@media (max-width:1024px) {
    .container {
        width: auto;
    }

    .gallary-img-section {
        width: auto;
        padding: 0 30px;
    }

    .highlight-container {
        height: 220px;
        width: 600px;
    }

    .logo,
    .menu {
        display: none;
    }

    .top-section .heading {
        transform: translateX(8%);
        margin: auto;
    }

    .logo-right {
        display: flex;
        width: 80px;
        border: 2px solid white;
        border-radius: 50%;
    }

    .logo-right img {

        border: 2px solid white;
        border-radius: 50%;
    }

    .ham-menu {
        display: flex;
        width: 40px;
        transform: translateX(30px);
        outline: none;
        cursor: pointer;
    }

    .mobile-index {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1001;
        background: rgb(0, 0, 0);
        width: 100%;
        padding: 2rem;
        transform: translateX(-100%);
        transition: all .5s ease-in-out;
    }

    .open {
        transform: translateX(0);
    }

    .mobile-index .close-btn {
        width: 120px;
        position: fixed;
        top: 30px;
        right: 30px;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
    }

    .mobile-index a {
        text-align: left;
        font-size: 2rem;

    }
}

@media (max-width:900px) {
    h2 {
        width: 40%;
        padding: 10px;
    }

    .box {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .items {
        height: 355px;
        width: 80%;
        margin: auto;
    }

    .icons-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }

    .card {
        margin: 2rem auto;
    }

    .heading-button {
        position: relative;
        bottom: 300px;
    }

    .card-element {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card-element .card h2 {
        text-align: center;
        margin: auto;
    }

    .img-container {
        grid-template-rows: repeat(7, 101px);
    }
}

@media (max-width:770px) {
    .items .item h2 {
        font-size: 10px;
        width: 200px;
        text-align: center;
        position: relative;
        left: 0%;
        margin: auto;
    }

    .icons-info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .card-element {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .highlight-container {
        width: 440px;
    }

    .contact-me .heading {
        height: 180px;
    }

    .contact-me .heading h1 {
        padding: 0;
        transform: translateY(-20px);
    }
}

@media (max-width:484px) {

    .items .item h2 {
        font-size: 10px;
        width: 200px;
        text-align: center;
        position: relative;
        left: 12%;
    }

    .img-container {
        grid-template-rows: repeat(7, 60px);
    }

    .highlight-container {
        width: 300px;
    }

    .top-section .heading {
        transform: translateX(0);
        transform: scale(80%);
    }

    .ham-menu {
        transform: translateX(0);
    }

    .logo-right {
        width: 40px;
    }

}